@import '~assets/scss/colors';

%shared {
  font-family: "Telstra-Akkurat-Regular";
  color: $black-light;
  font-size: 14px;
  line-height: 24px;
}
.title {
  @extend %shared;
  font-family: "Telstra-Akkurat-Bold";
  font-size: 16px;
  line-height: 26px;
}

.list {
  @extend %shared;
  padding-left: 18px;
}

.tclink {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 25px;
}

.accept {
  display: inline-block;
}
.checkbox {
  @extend %shared;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  span {
    padding: 0 !important;
  }
}
.checked {
  color: $blue !important;
}