@import '~assets/scss/_colors';

.outer-world {
  // when clicking outside dropdown, hide dropdown
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  cursor: default;
  z-index: 3;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 30px;
  min-width: 150px;
  background: $white;
  color: $black-light !important;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 7px 5px;
  box-shadow: 0 0 10px rgba(0,0,0, .2);

  svg {
    position: absolute;
    top: -13px;
    right: 4%;
    z-index: 0;
    color: $white;
  }
}