.back {
  font-family: "Telstra-Akkurat-Bold";
  color: black;
  font-size: 12px !important;
  width: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}