@import '~assets/scss/_colors';

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 3px 0;

  &:focus {
    outline: none;
  }
  svg {
    visibility: hidden;
    margin-right: 10px;
  }
}
.selected {
  color: $blue-lighter;
  svg {
    visibility: visible !important;
  }
}