@import '~assets/scss/_colors';
@import '~assets/scss/_commons';

.button {
  height: 52px;
  width: 100%;
  display: block;
  padding: 10px;
  background: $white;
  color: $blue;
  border: 1px solid #0064D2;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Telstra-Akkurat-Bold';

  span {
    font-family: inherit !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 19px;
  }
}

.loading {
  @include dotloading($blue);
}