@import '~assets/scss/colors';

.close {
  font-family: 'Telstra-Akkurat-Bold';
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 1px;
  margin: 0;
  font-size: 24px;
  background-color: white;
}
