@import '~assets/scss/colors';

%span {
  color: $blue !important;
  display:inline-block;
  border-bottom:2px solid $blue;
  padding-bottom:12px;
}

.nav-items {
  display: flex;
  flex: 2;
  justify-content: flex-start;
  font-size: 14px;

  a {
    margin-right: 5%;
    font-size: 14px;
    text-decoration: none;
    color: $black-light;

    &:hover {
      span {
        @extend %span;
      }
    }
  }
}

.active {
  span {
    @extend %span;
  }
}